* {box-sizing: border-box;}

#all-lists-container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	background-color: grey;
	justify-content: center;
	width: 90%;
}

.lists {
	font-family: Verdana;
	background-color: #6DB7BB;
  	min-height: 20vh;
  	max-width: 70vh;
	margin:20px;
	padding: 20px;
	box-shadow: 3px 3px 15px 2px #585858;
	display: flex;
	flex: auto;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: 0;
}

.listTitle {
	border: none;
	font-size: 25px;
	font-family: Verdana;
	padding: 5px;
	color: #EEEEEE;
	background-color: #6DB7BB;
	text-align: center;
	flex-grow: 0;
}

.listBody {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #D5F4F6;
	min-height: 20vh;
}

.items {
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.items:first-child {
	padding-top: 20px;
}

.items:last-child {
	padding-bottom: 20px;
}

.itemText {
	word-wrap: break-word;
	color:#737373;
	font-size: 20px;
}

.emptyMessage {
	word-wrap: break-word;
	color:#C3CDCF;
	padding-right: 40px;
	text-align: center;
}

.addForm {
	margin-bottom: 20px;
}

.inputText {
	border-radius: 5px;
	background:white; 
	border:1px solid #ccc;
	font-size: 20px;
	font-family: Verdana;
	text-align: center;
	width: 73%;
	color:#737373;
	line-height: 28px;
	padding: 7px 10px 7px 10px;

}

.addButtons {
	float: right;
	padding: 10px 25px 10px 25px;
	border: none;
	font-size: 20px;
	color: white;
	align-self: center;
	box-shadow: 3px 3px 15px 2px #65A6B6;
	cursor: pointer;
}

.addButtons:hover {
	background-color: #C8C8C8;
}

.deleteButtons {	
	align-self: center;
	flex-shrink: 0;
	padding: 3px 7px 3px 7px;
	margin-right: 20px;
	margin-left: 5px;
	border: none;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.deleteButtons:hover {
	background-color: #DCDCDC;
}

.submitForm {
	align-self: flex-start;
	/*width:30%;*/
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	justify-content: space-between;
}

.submitButtons {
	padding: 10px 25px 10px 25px;
	border: none;
	font-size: 20px;
	color: #E5C5D1;
	background-color: #900C3F;
	flex-grow: 0;
	align-self: center;
	box-shadow: 3px 3px 15px 3px #65A6B6;
	cursor: pointer;
	display: inline-flex;
}

.submitButtons:hover {
	background-color: #B00050;
}

.submitMessage {
	padding: 10px;
	text-align: center;
	width: 70%;
	font-size: 13px;
	font-family: Verdana;
	color: #EEEEEE;
	margin: 0;
	word-wrap: break-word;
	flex-grow: 0;
} 
.buttonsDiv {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-shrink: 0;
	flex-grow: 0;
}

#newListButton {
	flex-shrink: 0;
	flex-grow: 0;
	align-self: center;
	font-size: 20px;
	background-color: #07888E;
	color: white;
	padding: 10px 15px 10px 15px;
	box-shadow: 3px 3px 15px 3px #65A6B6;
	cursor: pointer;
}

#newListButton:hover {
	cursor: pointer;
	background-color: #09A7AE;
}